
.btn1 {
  -webkit-box-shadow: inset 0 0px 1000px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 0px 1000px rgba(0, 0, 0, 0.125);
}

.btn1 {
  -webkit-box-shadow: inset 0 0px 1000px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 0px 1000px rgba(0, 0, 0, 0.125);
}

.btn1 {
  -webkit-box-shadow: inset 0 0px 1000px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 0px 1000px rgba(0, 0, 0, 0.125);
}




















.btn1 {
  -webkit-box-shadow: inset 0 0px 1000px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 0px 1000px rgba(0, 0, 0, 0.125);
}

.btn1 {
  -webkit-box-shadow: inset 0 0px 1000px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 0px 1000px rgba(0, 0, 0, 0.125);
}

.user-box {
  position: relative;
  line-height: 1;
  color: #ccc;
}
.user-box .dropdown-box .dropdown-content {
  -webkit-border-radius: 3px;
          border-radius: 3px;
  position: relative;
  margin-top: 14px;
  width: 150px;
  -webkit-box-shadow: 0px 0px 36px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 36px 4px rgba(0, 0, 0, 0.1);
}
.user-box .dropdown-box .dropdown-content .triangle {
  display: block;
  border-color: #fff0d1;
}
.user-box .dropdown-box .dropdown-content .user-info {
  height: 70px;
  background: #fff0d1;
  position: relative;
  z-index: 1;
  padding: 0 20px;
  -webkit-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0;
}
.user-box .dropdown-box .dropdown-content .link-a {
  font-size: 12px;
  padding: 0 10px;
}
.user-box .dropdown-box .dropdown-content .link-a a {
  display: inline-block;
  padding: 15px 36px;
  border-bottom: 1px solid #f5f5f5;
  background-position: 10px center;
  background-repeat: no-repeat;
  font-size: 12px;
  color: #4d4d4d;
  font-weight: normal;
}
.user-box .dropdown-box .dropdown-content .link-a.link-a__collect a {
  background-image: url("/static/images/user/icon-collect.png");
}
.user-box .dropdown-box .dropdown-content .link-a.link-a__collect a.a-exact-active,
.user-box .dropdown-box .dropdown-content .link-a.link-a__collect a:hover {
  background-image: url("/static/images/user/icon-collect-active.png");
  color: red;
}
.user-box .dropdown-box .dropdown-content .exit-li {
  padding: 5px 0;
}
.user-box .dropdown-box .dropdown-content .exit-li .logout-btn {
  float: right;
  display: inline-block;
  width: 62px;
  height: 27px;
  font-size: 14px;
  font-weight: 400;
  color: #cccccc;
  padding-left: 5px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background: url("/static/images/user/icon-exit.png") no-repeat 0 center;
}
.user-box .dropdown-box .dropdown-content .exit-li .logout-btn:hover {
  background-image: url("/static/images/user/icon-exit-active.png");
  color: red;
}





















































































.search_input[data-v-6367b8e8] {
  width: 70%;
  height: 60%;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background: #f4f4f4;
  position: relative;
  text-align: left;
  font-size: 0;
}
.search_input .iconfont[data-v-6367b8e8] {
  left: 0px;
  top: 0;
  color: #333;
  width: 13%;
  text-align: center;
}
.search_input .val[data-v-6367b8e8] {
  background: transparent;
  /*height:100%;*/
  width: 85%;
  font-size: 16px;
}
#global-head[data-v-6367b8e8] {
  background: #424242;
}

.btn1 {
  -webkit-box-shadow: inset 0 0px 1000px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 0px 1000px rgba(0, 0, 0, 0.125);
}

.btn1 {
  -webkit-box-shadow: inset 0 0px 1000px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 0px 1000px rgba(0, 0, 0, 0.125);
}

.btn1 {
  -webkit-box-shadow: inset 0 0px 1000px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 0px 1000px rgba(0, 0, 0, 0.125);
}

.btn1 {
  -webkit-box-shadow: inset 0 0px 1000px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 0px 1000px rgba(0, 0, 0, 0.125);
}

.tag1 {
  -webkit-box-shadow: inset 0 0px 1000px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 0px 1000px rgba(0, 0, 0, 0.125);
}

a {
  color: #4078c0;
  text-decoration: none;
}
body,
html {
  height: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", SimSun, sans-serif;
}
.mobile-container {
  height: 100%;
  overflow: auto;
  background: #f8f8f8;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
::-webkit-scrollbar {
  width: 0px;
  background: #ccc;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
          border-radius: 0px;
  background-color: #aaa;
}
.page-back {
  display: inline-block;
  position: absolute;
  top: 12px;
  left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #333;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.page-back i {
    font-size: 24px;
    line-height: 40px;
}
.demo-title {
  font-size: 16px;
  display: block;
  line-height: 1;
  padding: 20px 15px 0;
}
.demo-sub-title {
  font-size: 14px;
  font-weight: normal;
  color: #999;
  padding: 30px 5px 10px;
}
.footer {
  margin-top: 30px;
  width: 100%;
  padding: 10px 0 20px;
  background: #f8f8f8
}
.footer.footer-fixed {
  position: absolute;
  bottom: 0;
  left: 0;
}
#global-head {
  background: #424242;
}

.side-nav {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 15px 20px;
  position: relative;
  z-index: 1;
}
.side-nav .global-title,
  .side-nav .global-desc {
    text-align: center;
    font-weight: normal;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.side-nav .global-title {
    padding-top: 40px;
    height: 0;
    overflow: hidden;
    -webkit-background-size: 40px 40px;
            background-size: 40px 40px;
    margin-bottom: 10px;
}
.side-nav .global-desc {
    font-size: 14px;
    color: #666;
    margin-bottom: 50px;
}

.mobile-nav-group {
    -webkit-border-radius: 2px;
            border-radius: 2px;
    margin-bottom: 15px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.mobile-nav-group li {
      list-style: none;
}
.mobile-nav-group ul {
      padding: 0;
      margin: 0;
      overflow: hidden;
}
.mobile-nav-group__basetitle {
      padding-left: 20px;
}
.mobile-nav-group__title {
      line-height: 56px;
      position: relative;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}
.mobile-nav-group__title a {
        color: #333;
        display: block;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
.mobile-nav-group__title a:active {
    background: #ececec;
}
.mobile-nav-group__title a > p {
          /*border-top: 1px solid #e5e5e5;*/
}
.mobile-nav-group__title--open {
        color: #38f;
}
.mobile-nav-group__list-wrapper {
      height: 0;
      overflow: hidden;
}
.mobile-nav-group__list-wrapper--open {
        height: auto;
}
.mobile-nav-group__list {
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      -webkit-transition: -webkit-transform 0.2s ease-out;
      transition: -webkit-transform 0.2s ease-out;
      -o-transition: transform 0.2s ease-out;
      transition: transform 0.2s ease-out;
      transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}
.mobile-nav-group__list--open {
        -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
                transform: translateY(0);
}
