/*1图片模糊(毛玻璃)效果（Firefox不兼容）
http://www.zhangxinxu.com/wordpress/2013/11/css-svg-image-blur/
http://linxz.github.io/tianyizone/webkit-filter.html*/

filter: blur(10px);

/*滚动回弹效果. ios5+、android4+ */

-webkit-overflow-scrolling: touch;
-webkit-overflow-scrolling: auto;

/*移动端链接点击去除阴影*/

a {
	-webkit-tap-highlight-color: transparent;
}


/*chrome浏览器字体大小设置小于12px*/

html {
	-webkit-text-size-adjust: none;
}


/*禁用长按页面时的弹出菜单(iOS下有效) ,img和a标签都要加*/

a,
img {
	-webkit-touch-callout: none;
}


/*移动端消除输入框和按钮的原生外观*/

input,
textarea,
button {
	-webkit-appearance: none;
}


/*禁止页面文字选择*/
body {
	-webkit-user-select: none;
}


/*PC端去除点击a标签时出现的虚线 和 输入框聚焦出现的默认样式*/

a,
input,
textarea,
button {
	outline: none;
}

/*多行文本溢出显示省略号*/
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
overflow: hidden;