@import "common/config";
.hua-badge {
  position: absolute;
  @L: 12px;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: @L;
  height: @L;
  background: @color-red;
  border-radius: 100%;
  border:2px solid #fff;
  color:#fff;
  font-size: 10px;
  transform: scale(0.8);
  &.show-count{
    @L: 20px;
    width: auto;
    height: @L;
    border-radius: @L;
    display: flex;
    align-items: center;
    padding:0 4px;
  }
}
